body{
  background:  linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  font-size: 125%;
}

.App {
  text-align: center;
}

h1{
  color: rgb(158, 235, 207);
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  width: 200px;
  background-color:rgb(158, 235, 207);
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.card:hover{
  width: 210px;
  height: 310px;
}

form ul{
  display: flex;
  justify-content: center;
  gap: 10px;
}

form ul li{
  list-style: none;
  background-color: rgb(158, 235, 207) ;
  padding: .5rem;
  text-transform: uppercase;
}

form ul li input{
  opacity: 0;
}

form ul li input:active{
  background-color: tomato;
}